

/* Header Styles */

#heading-container{
    width: 100%;
    background-color: #00ACe9;
    height: 100px;
}

#heading-container .col-md-3{
    height: 100%;
    align-content: center;
}

/* Adjust Boostrap Styles */

/*.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}*/

/* Content Section */

#content-section{
    height: 50%;
    width: 100%;
    background: #D3D3D3;
}

#content-section .col-md-6 .col-md-2 .col-md-10{
    height: 100%;
}


/* Main Page Movie Search Bar */

.featurette{
    display: table;
    width: 100%;
    height: 30%;
    vertical-align: middle;
    background: #00ACe9;
    color: #fff;
}

.featurette-inner{
    display: table-cell;
    vertical-align:middle;
}
    
.featurette .search {
    padding: 3%;
    max-width: 980px; /* max width of search */
    margin: 0 auto;
}

.no-margin-top{
    margin-top: 0;
}


/* Form-control-lg */
.form-control-lg {
    min-height: 46px;
    border-radius: 6px;
    font-size: 18px;
    line-height: normal;
}

.featurette .search.has-button .form-group{
    margin-top: 5px;
    width: 100%;
}

/* Content Section */

#content-section{
    height: 50%;
    width: 100%;
    background: #D3D3D3;
}

#content-section .col-md-6{
    height: 100%;
}

/* Modal Forms */

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

/* Media Queries */

@media (min-width: 480px){
    .featurette .search.has-button .form-group{
        position: relative;
        padding-right: 99px; /* space for button */
    }
    
    .featurette .search.has-button .btn{
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        margin: 0;
    }
}